package ${package}.${module}.entity;

import java.lang.*;
import javax.persistence.*;
import java.io.Serializable;

@Table(name = "${tableName}")
public class ${className}Entity implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach($column in $columns)
        #if($column.columnName==$pk.column)
        @Id
        #end
    /**
    *  ${column.columnComment}
    */
    private ${column.javaType} ${column.property};

    /**
    * setter
    */
    private void set${column.propertyUp}(${column.javaType} ${column.property}){
        this.${column.property} = ${column.property};
    }

    /**
    * getter
    */
    private ${column.javaType} get${column.propertyUp}(){
        return this.${column.property};
    }
    #end


}