<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <!--generator by @${author} on ${date}-->
    <parent>
        <groupId>${project-groupId}</groupId>
        <artifactId>${project-artifactId}-parent</artifactId>
        <version>${project-version}</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <artifactId>${project-artifactId}-web</artifactId>
    <packaging>jar</packaging>

    <name>${project-artifactId}-web</name>
    <description>页面入口层</description>

    <properties>
        <project-build.sourceEncoding>UTF-8</project-build.sourceEncoding>
    </properties>

    <dependencies>
        <dependency>
            <groupId>${project-groupId}</groupId>
            <artifactId>${project-artifactId}-adapter</artifactId>
        </dependency>
    </dependencies>
</project>
